block admin_qna
    div(ng-if='setting.selected === "QnA"', ng-controller='adminQnAController', layout='column', flex)
        md-tabs.qna(md-selected='tabs.i', md-stretch-tabs='always', flex)
            include admin_qna_add_edit
            include admin_qna_search
            include admin_qna_upload
            include admin_qna_image