block admin
    div.admin(ng-if='user.data && view.current === "admin"', ng-controller='adminController', layout='row', flex)
        include admin_sidenav
        include admin_account
        include admin_users
        include admin_qna
        include admin_history