block dashboard_history_table_headers
    th(name='Username', order-by='UserId')
    th(name='Question', order-by='questionId')
    th(name='Answer', order-by='answerId')
    th(name='Date', order-by='updatedAt')