block dashboard_users_search
    md-tab(label='Search')
        md-tab-content.search.md-padding(ng-if='tabs.i === 0', ng-controller='dashboardUsersSearchController')
            div(layout='row')
                md-input-container.userId
                    label User ID
                    input(type='number', ng-model='query.id', ng-change='search()')
                md-input-container.username(flex)
                    label Username Contains
                    input(ng-model='query.username', maxlength='255', ng-change='search()')
                div(layout='row', layout-align='center center')
                    div Administrator
                    md-checkbox(ng-model='query.isAdmin', aria-label='is administrator', ng-change='search()')
            md-data-table-toolbar
                h2.md-title Users
                span(flex)
                md-button.md-fab.md-mini(ng-disabled='!selected.length', ng-click='edit()', aria-label='edit')
                    md-tooltip Edit
                    md-icon(class='material-icons') mode_edit
                md-button.md-fab.md-mini.md-warn(
                ng-disabled='!selected.length',
                ng-click='remove($event)',
                aria-label='remove'
                )
                    md-tooltip Remove
                    md-icon(class='material-icons') delete
            include dashboard_users_seach_table