block dashboard_history_table_content
    thead(md-order='query.order', md-trigger='search')
        tr
            th(name='Username', order-by='UserId')
            th(name='Question', order-by='questionId')
            th(name='Answer', order-by='answerId')
            th(name='Date', order-by='updatedAt')
    tbody
        tr(md-auto-select, ng-repeat='item in data.rows track by item.questionId')
            td {{item.User.username}}
            td {{item.question.question}}
            td {{item.answer.answer}}
            td {{item.formattedDate}}