body {
    overflow: hidden;
}

.auth {
    width: 300px
}

.auth md-icon {
    font-size: 200px;
    height: 200px;
    width: 200px;
}

.questionGrid > .deckgrid[deckgrid]::before {
    content: '4 .column.column-1-4';
    font-size: 0;
    visibility: hidden;
}

.questionGrid > .deckgrid .column {
    float: left;
}

.questionGrid > .deckgrid .column-1-4 {
    width: 25%;
}

.questionGrid > .deckgrid .column img {
    width: 100%;
    margin-bottom: -4px;
}

.questionGrid > md-progress-circular {
    position: fixed;
    top: 64px;
}

md-progress-circular,
.dashboard .qna .images > .imgNav > .imgContainer > img,
.dashboard .qna .images > .imgNav > button {
    margin: auto !important;
    bottom: 0;
}

.dashboard .users .edit > md-progress-circular,
.dashboard .qna .addEdit > md-progress-circular,
.dashboard .qna .upload > md-progress-circular,
.dashboard .qna .images > .imgNav > md-progress-circular,
.dashboard .qna .images > .imgNav > .imgContainer > img,
.dashboard .qna .images > .imgNav > button {
    position: absolute;
    top: 0;
}

:not(button) > md-progress-circular,
.dashboard .qna .images > .imgNav > .imgContainer > img {
    left: 0;
    right: 0;
}

button > md-progress-circular {
    position: absolute;
    height: auto;
    left: -6px;
    top: -10px;
}

.dashboard > md-sidenav {
    min-width: 175px;
    max-width: 175px;
}

.dashboard .account > h2 {
    margin-bottom: 31px;
}

.dashboard > md-sidenav .Account, .dashboard > md-sidenav .Users, .dashboard > md-sidenav .History {
    margin-top: 4px !important;
}

.dashboard .users .search .userId, .dashboard .qna .search .questionId, .dashboard .history md-input-container {
    width: 107px;
}

.dashboard .users .search .username, .dashboard .qna .search .question {
    margin-right: 16px;
}

.dashboard .users .search .table, .dashboard .qna .search .table {
    margin-top: 7px;
}

.auth button,
.dashboard .users .edit button,
.dashboard .qna .addEdit button {
    height: 36px !important;
}

.dashboard .qna .addEdit .question {
    margin-bottom: 22px;
}

.dashboard .qna .addEdit md-input-container.answer {
    padding: 0;
}

.dashboard .qna .addEdit .correctAnswerContainer {
    width: 108px
}

.dashboard .qna .addEdit .correctAnswerContainer > .correctAnswer {
    padding-left: 0;
}

.dashboard .qna .addEdit .deleteAnswer {
    margin-bottom: 10px;
}

.dashboard .qna .images > .search {
    margin-top: 10px;
}

.dashboard .qna .upload > .example {
    margin-top: 10px;
    overflow-x: auto;
    background-color: #474949;
}

.dashboard .qna .upload > .example > pre {
    margin: 0;
}

.dashboard .qna .upload > .example > pre > code {
    overflow-x: visible;
}

.dashboard .qna .images > .imgNav {
    position: relative;
    margin: 3px 0 16px 0;
}

.dashboard .qna .images > .imgNav > button.previous {
    left: 10px;
}

.dashboard .qna .images > .imgNav > button.next {
    right: 10px;
}

.dashboard .qna .images > .imgNav > .imgContainer > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.dashboard .qna .images > .imgNav > .imgContainer > .poweredByGoogleImg {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 170px;
    padding: 7px;
}

.dashboard .qna .images md-progress-circular {
    z-index: 1;
}

.dashboard .qna .images > .tokenContainer {
    margin-bottom: 13px;
}

/*todo temporary fix, see https://github.com/angular/material/pull/5102 and https://github.com/angular/material/issues/4938*/
.dashboard .qna .images > .tokenContainer md-chip {
    padding-right: 12px;
}

/*todo temporary fix, see https://github.com/angular/material/pull/5102 and https://github.com/angular/material/issues/4938*/
.dashboard .qna .images > .tokenContainer md-chip > .md-chip-content {
    padding-right: 0;
}

.dashboard .qna .images > .imgNav > button.ng-enter,
.dashboard .qna .images > .imgNav > .imgContainer.ng-enter {
    -webkit-animation: fadeIn 1.0s linear;
    -moz-animation: fadeIn 1.0s linear;
    -o-animation: fadeIn 1.0s linear;
    animation: fadeIn 1.0s linear;
}

.dashboard .qna .images > .imgNav > button.ng-leave,
.dashboard .qna .images > .imgNav > .imgContainer.ng-leave {
    -webkit-animation: fadeOut 1.0s linear;
    -moz-animation: fadeOut 1.0s linear;
    -o-animation: fadeOut 1.0s linear;
    animation: fadeOut 1.0s linear;
}

.dashboard .history md-datepicker {
    margin-top: 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}